<div class="container main-content">
    <div class="window-title">New Registered Application</div>

<%= render 'form', registered_application: @registered_application %>

<span class="my-link"><%= link_to 'Back', registered_applications_path %></span>
</div>
